.App {
  background-color: var(--bg-color);
}

.App__darkBtn {
  position: fixed !important;
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
  bottom: 1.5rem;
  right: 2rem;
}
