@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root[color-mode="light"] {
  --primary-color: #7848f4;
  --secondary-color: #ff5c81;
  --text-color: #131315;
  --bg-color: #f8f8fa;
  --dark-blue: #130041;
  --gray-color: #6a7c94;
  --light-blue: #27a5ee;
  --light-gray: #e1e1fd;
  --white-color: #ffffff;
}
:root[color-mode="dark"] {
  --primary-color: #7848f4;
  --secondary-color: #ceb2b9;
  --text-color: #f8f8fa;
  --bg-color: #333333;
  --dark-blue: #130041;
  --light-gray: #6a7c94;
  --light-blue: #27a5ee;
  --gray-color: #e1e1fd;
  --white-color: #1d1d1d;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .container {
    margin: 0 1rem;
  }
}

@media (max-width: 650px) {
  .container {
    margin: 0 1rem;
  }
}
