@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root[color-mode="light"] {
  --primary-color: #7848f4;
  --secondary-color: #ff5c81;
  --text-color: #131315;
  --bg-color: #f8f8fa;
  --dark-blue: #130041;
  --gray-color: #6a7c94;
  --light-blue: #27a5ee;
  --light-gray: #e1e1fd;
  --white-color: #ffffff;
}
:root[color-mode="dark"] {
  --primary-color: #7848f4;
  --secondary-color: #ceb2b9;
  --text-color: #f8f8fa;
  --bg-color: #333333;
  --dark-blue: #130041;
  --light-gray: #6a7c94;
  --light-blue: #27a5ee;
  --gray-color: #e1e1fd;
  --white-color: #1d1d1d;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .container {
    margin: 0 1rem;
  }
}

@media (max-width: 650px) {
  .container {
    margin: 0 1rem;
  }
}

.event__loading {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-color);
}

@keyframes logoLoading {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.5);
  }
}

.event__loading > img {
  -webkit-animation: logoLoading 3s infinite alternate;
  animation: logoLoading 3s infinite alternate;
}
